.container {
  min-height: 100vh;
}

.layout {
  width: 100%;
  min-height: 100vh;
}

.logo {
  flex: 0 0 auto;
  width: 36px;
  height: 36px;
  margin-right: 24px;
}

.header {
  display: flex;
  align-items: center;
}

.menu {
  flex: 1 1 auto;
}